body {
    background-image: url("../photos/arpl.jpg");
    background-attachment: fixed;
}

.center {
    color: rgb(159, 41, 255);
}

.pub {
    width: 100%;
    height: auto;
}

/* cadrillage du tableau */
tr, td{
    width: 10em;
    border: 1px solid black;
    position: relative;
}
/* positionnement */
table{
    display: flex;
    justify-content: center;
    padding: 5%;
    height: auto;

}